








#img{
    background: url('1.jpg') no-repeat center center/cover  ;
    height: 700px;
    width: 100%;
    
/*     animation-name: slideshow;
    animation-duration: 1s; */
    /* animation-fill-mode: forwards; */
    
    
}
/* @keyframes slideshow{ */
 /* 0%{
     opacity: 1.0;
 }
 10%{
     opacity: 0.9;
 }
 20%{
     opacity: 0.8;
 }
 30%{
     opacity: 0.7;
 }
 40%{
     opacity: 0.6;
 }
 50%{
     opacity: 0.5;
 }
 60%{
     opacity: 0.4;
 }
 70%{
     opacity: 0.3;
 }
 80%{
     opacity: 0.2;
 }
 90%{
     opacity: 0.1;
 }
 100%{
     opacity: 0;
    
 } */
/*  from{
     opacity: 1.0;
 }
 to{
     opacity: 0.4; */
 }
} 


